*{
  margin: 0;
}
body {
    font-family: Termina, sans-serif;
    color: #111;
    background: #ffffff;
    overflow-x: hidden;
  }
  
  section {
    padding: 5vw;
    width: 100%;
    height: 100%;
    background-image: url('./img/geomembranas5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .credit {
    text-align: center;
    z-index: 999;
    font-size: 0.8rem;
  }
  .credit a {
    color: inherit;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-weight: 800;
    margin: 2rem auto;
    font-size: clamp(3vw, 2rem, 4rem);
    text-align: center;
    z-index: 999;
    max-width: 700px;
    pointer-events: none;
    display: grid;
    place-items: center;
  }
  
  .gallery {
    z-index: 1;
    display: flex;
    width: 100%;
  }
  
  .image {
    width: 30vh;
    filter: saturate(0);
    align-items: center;
    padding: 1.5vh;
  }

  .image:hover {
    z-index: 99999999999 !important;
    filter: saturate(1);
  }
  .parrafo1{
    text-align: center;
  }